<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- File picker permissions -->
	<key>NSAppleMusicUsageDescription</key>
	<string>Este app precisa acessar sua biblioteca de música para seleção de arquivos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Este app precisa acessar sua biblioteca de fotos para seleção de imagens</string>
	<key>NSCameraUsageDescription</key>
	<string>Este app precisa acessar a câmera para captura de fotos</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Este app precisa acessar a pasta de documentos para seleção de arquivos</string>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<!-- End file picker permissions -->
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(PRODUCT_COPYRIGHT)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Este app precisa acessar Bluetooth para conectar com impressoras térmicas</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Este app precisa acessar Bluetooth para conectar com impressoras térmicas</string>
</dict>
</plist>
